/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: calibri;
}
h5 {
    color:#999
}

h4 {
    color:#555
}

h3 {
    color: #555
}

.card img {
    height: 200px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px
}